{% extends 'base.html' %}
{% load static %}
{% block contenido %}

<body class="w3-light-grey w3-content" style="max-width:1600px">



  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
      <a href="#"><img src="{% static 'core/img/rotom-wash.gif'%}" style="width:65px;"
          class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
      <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
          class="fa fa-bars"></i></span>
      <div class="w3-container">
        <h1><b>Donde encontrarnos</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <span class="w3-margin-right">Acerca de:</span>
          <a href="{% url 'home' %}" onclick="w3_close()"><button class="w3-button w3-white">&#128209;
              Servicios</button></a>
          <a href="{% url 'calculadora' %}" onclick="w3_close()"><button class="w3-button w3-white w3-hide-small">&#x1F4A6;
              Cotizar</button></a>
          <button class="w3-button w3-black"></i>&#x1F4CD; Ubicación</button></a>

        </div>
      </div>
    </header>

    <br>
    <h2>Estamos ubicados en Trehuaco 454, comuna de Hualpén &#x1F50D;</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3194.74270221586!2d-73.09560518485543!3d-36.80071897994841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669ca7e740b9745%3A0xa530249e5af486b5!2zVHJlaHVhY28gNDU0LCBIdWFscMOpbiwgQsOtbyBCw61v!5e0!3m2!1ses-419!2scl!4v1600824000803!5m2!1ses-419!2scl"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>

    <br><br><br>
    <div>

      <h2>Haz click para ver nuestra empresa:</h2>
      <a href="https://www.google.com/maps/@-36.8008029,-73.0936037,3a,75y,42.06h,82.55t/data=!3m6!1e1!3m4!1sZNbaMc9oiKL6q_saAOJXcw!2e0!7i13312!8i6656"
        target="_blank" onclick="w3_close()">
        <button class="w3-button w3-white w3-hide-small">&#x1F30E;</button></a>
    </div>

    {% endblock %}
  </div>
</body>