{% extends 'base.html' %}
{% load static %}
{% block contenido %}




<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="w3-main" style="margin-left:300px"> 
    
    {% load crispy_forms_tags %}
    <form action="" method="POST">
        {% csrf_token %}
        
            {{ form | crispy }} 
      

        <input type="submit" value="Login" class="btn btn-success float-right">
    
    </form>
    <a href="{% url 'social:begin' 'facebook' %}">Login con facebook</a>
    
    
{% endblock %}    